<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2014 Michele Bonazza <emmepuntobi@gmail.com> 
 *
 * This file is part of Add2Urlist.
 * 
 * Add2Urlist is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 * 
 * Add2Urlist is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
 * A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * Add2Urlist. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.mb.add2urlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.mb.add2urlist.Add2Urlist"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:label="@string/title_activity_add2_urlist"
            android:theme="@android:style/Theme.NoDisplay" >
            
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>